{% extends 'base.html.twig' %}
{% block body %}
 <form action="{{ path('security_login') }}" method="post">
 <label for="login">Login:</label>
 <input type="text" id="login" name="_username" value="{{ last_username
}}"/>
 <label for="password">Password:</label>
 <input type="password" id="password" name="_password"/>
 <button type="submit">login</button>
 </form>
 
<a type="button" class="btn btn-outline-primary" href="{{path('creationCompte')}}">
		Inscription
</a>
				
{% endblock %}
