{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}

	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		h1 {
			color: black;
			position: static
		}
	</style>

	<div style="text-align: center;">
		<img src="http://imgstack.net/images/KrP7e.png" alt="Image" height="300" style="text-align: center">
	</div>
	<div style="margin:auto; width:900px;  #ccc8; text-align: center; text-justify: inter-word; face='Mohave', sans-serif;">
		<p>HACKAKOI ?!</p>
	</br>
	<p >
	Un hackathon est un événement dans lequel des participants doivent créer des projets les plus aboutis possibles en un temps limité.
	
	Au départ destinés aux développeurs, ils se sont diversifiés pour regrouper des participants porteurs de compétences diverses: business, programmation, design, etc.
	
	Les participants se réunissent généralement pendant 2-3 jours et travaillent en équipe dans un esprit d’innovation rythmé par des animations, rencontres et initiations adaptées à l’événement. C’est un événement où la résolution de problèmes et la gestion de l’effort sont essentiels.
	</p>
	<p><br></p>
	<p style="background: #ffe7e8; border: 1px solid black;margin: 15px; line-height: 1.5;">
		Si l'un de nos évenements vous intéresse et que vous souhaitez vous inscrire à ce dernier, veuillez-vous créer un compte ou vous connecter dans la rubrique Connexion.
	</p>
</div>
{% endblock %}
