{% extends 'base.html.twig' %}

{% block title %}Liste des hackathons{% endblock %}

{% block body %}
<link href="https://unpkg.com/bootstrap-table@1.19.0/dist/bootstrap-table.min.css" rel="stylesheet">

<style>
		.table tr.fit{
    width: auto !important;
    table-layout: auto !important;
    }

	</style>

<table 
  data-pagination="true" 
  data-search="true" 
  data-toggle="table" 
  data-url="http://localhost:8000/apiH">
  <thead>

    <tr class="fit" style="text-align: center">
      <th data-field="theme" data-sortable="true">Thème</th>
      <th data-field="lieu" data-sortable="true">Lieu</th>
      <th data-field="date_debut" data-sortable="true">Date de début</th>
      <th data-field="heure_debut" data-sortable="true">Heure de début</th>
      <th data-field="date_fin" data-sortable="true">Date de fin</th>
      <th data-field="heure_fin" data-sortable="true">Heure de Fin</th>
      <th data-field="date_limite" data-sortable="true">Date de Cloture </br>d'inscription</th>
      <th data-field="rue" data-sortable="true">Rue</th>
      <th data-field="ville" data-sortable="true">Ville</th>
      <th data-field="code_postal" data-sortable="true">Code  Postal</th>
      <th data-field="nb_places" data-sortable="true">Nombres de </br> participants  potentiels</th>
      <th data-field="image" data-formatter="imgFormatter">Illustration</th>
    </tr>
  </thead>
</table>
<script>
function imgFormatter(row,value){
  return '<img src="'+value.image+'" height="120">';
}
</script>

{% endblock %}
